<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Riviera Build - API by jayztemplier</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <script src="javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h2 class="header">Riviera Build</h2>
        <p class="header">API Documentation</p>

        <ul>
          <li><a class="" href="#api-key">API Key</a></li>
          <li><a class="" href="#upload-a-build">Upload a build</a></li>
          <li><a class="" href="#get-latest-available-build-information">Latest build</a></li>
        </ul>

      </header>
      <section>

        {{content}}

      </section>
      <footer>
        <p><small>© 2015 Riviera Build.</small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->

  </body>
</html>
